#pms_Button{
    background-color: red;
    /* gotta fight that height at some point */
    min-height: 50%;
    min-width: 50%;
}

.center-text{
    text-align: center;
}

.about-container{
    height: auto;
}
.navPad{
    padding-top: 2.5em;
}


/* -------------------------------------
            fake embedded profile header styling

----------------------------------------*/
.twPic{
    border: 1px solid lightBlue;
    border-radius: 3px;
    float: left;
}
.twitterName{
    font-size: 1.2em;
    padding-right: .5em;
}
.handleName{
    font-size: .9em;
    color: darkslategray;
}
.handleName a{
    color: darkslategray;
}
.profDesc{
    font-style: italic;
}
.profileSect{
    border: 1px solid lightBlue;
    border-radius: 5px;
    margin-bottom: .3em;
}